@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  color: #000;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.wrap {
  padding: 44px 118px;
}

/* list */
.list {
  width: 470px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 7px;
}
.view-block {
  width: 470px;
}
.wiew {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 7px;
}
.list__title,
.wiew__full-name_name {
  font-size: 36px;
  font-weight: 400;
}
.list__title {
  margin-bottom: 20px;
}
.list__block_users_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.list__full-name_name {
  font-size: 16px;
}
.list__full-name_city {
  color: #4F4F4F;
}
.buttons {
  display: flex;
}
.buttons__number {
  color: #4F4F4F;
}
.buttons__btn {
  padding: 10px;
  cursor: pointer;
  border: 0;
  outline: none;
}
.buttons__btn_wiew {
  color: #fff;
  background: #4F4F4F;
  margin: 0 9px 0 21px;
}
.buttons__btn_delete {
  color: #4F4F4F;
  background: #E0E0E0;
}

/* wiew */
.bl {
  margin-bottom: 30px;
}
.wiew__company_subtext,
.wiew__full-name_id,
.wiew__adress_geo span {
  color: #4F4F4F;
}
.wiew__adress_ad,
.wiew__phone_phone,
.wiew__company_text {
  font-size: 18px;
}
.wiew__website_web {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #4F4F4F;
}


@-webkit-keyframes accordeonAni {
  0% {
    max-height: 0;
  }
}
@keyframes accordeonAni {
  0% {
    max-height: 0;
  }
}
.lb_accordeon .lb_item {
  display: block;
  margin-bottom: 0;
}
.lb_accordeon .lb_item__hl {
  position: relative;
  padding: 15px;
  cursor: pointer;
  transition: color 200ms;
  background: #eee;
}
.lb_accordeon .lb_item__hl:hover {
  color: #666;
}
.lb_accordeon .lb_item__copy {
  background: #ddd;
  margin: 0;
  padding: 0;
}
.lb_accordeon .lb_item .lb_item-copy-ct {
  padding: 20px;
}

.faq-fade-enter {
  max-height: 0;
  display: block;
}
.faq-fade-enter-active {
  -webkit-animation: accordeonAni 400ms ease-out;
          animation: accordeonAni 400ms ease-out;
  overflow: hidden;
}
.faq-fade-leave {
  display: block;
}
.faq-fade-leave-to {
  display: block;
}
.faq-fade-leave-active {
  -webkit-animation: accordeonAni 400ms ease-out;
          animation: accordeonAni 400ms ease-out;
  animation-direction: reverse;
  overflow: hidden;
}
